<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Twitter yeah baby</title>
    </head>

    <body>
        <h1>Hey baby <%= username %> yeah</h1>

        <a href="/login">Log out</a>
    </body>
</html>