<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Twitter yeah baby</title>
    </head>

    <body>
        
        <a href="/logout">Log out</a> <hr/>

        <form action="/" method="post">
            Title: <input type="text" name="title" /></br/>
            Content: <textarea name="content" cols="30" rows="5" maxlength="140"></textarea>
            <input type="submit" value="Post!">
        </form>

        <% posts.forEach(post => {  %> 
            <div class="post">
                <h3> <%= post.user.username %> </h3>
                <h4> <%= post.title %> </h4>
                <p> <%= post.content %> </p>
                <p> <%= post.postTime %> </p>
                <hr/>
            </div>
       <% }) %>

    </body>
</html>