<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Twitter yeah baby</title>
    </head>

    <body>
        <h1>Hey baby <%= username %> yeah</h1>

        <form action="/home" method="post">
            Title: <input type="text" name="title" /></br/>
            Content: <textarea name="content" cols="30" rows="10"></textarea>
            <input type="submit" value="Post!">
        </form>

        <% posts.forEach(post => {  %> 
            <div class="post">
                <h3> <%= post.title %> </h3>
                <p> <%= post.postTime %> </p>
                <p> <%= post.content %> </p>
            </div>
       <% }) %>

        <a href="/logout">Log out</a>
    </body>
</html>