<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Twitter yeah baby</title>
    </head>

    <body>
        <h1>My Page baby yeah</h1>

        <a href="/logout">Log out</a>
    </body>
</html>