<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Twitter yeah baby</title>
    </head>

    <body>
        <h1>Create Account Page baby yeah</h1>

        <form action="/signup" method="post">
            <section>
                <label for="username">Username:</label>
                <input type="text" name="username" id="username">
            </section>
            <section>
                <label for="password">Password:</label>
                <input type="password" name="password" id="password">
            </section>
            <input type="submit" value="Create account!">
        </form>
        <p>Already have an account? <a href="/login">Log in!</a></p>
    </body>
</html>